body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    text-align: left;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
  }

  th, td {
    padding: 1%;
    border: 1px solid black;
  }